.span-24.feed_show_header
	.banner
		= image_tag @feed.feed_banners.where( active: true ).first.image, class: "feed_banner"
		%h1.name.bullpen= @feed.name
	.weather_widget
		.left_col
			.section.tall
				- today = @forecast.today
				.name= today[:name]
				-# .icon= image_tag today[:icon]
				.icon= icon_to_image( today[:icon], "blue" )
				.high= "#{today[:high]}&deg;".html_safe
				.low= "#{today[:low]}&deg;".html_safe
				.digital_clock
			.section
				.users= "Users: 30,000"
			.section.push_down
				= link_to "#" do
					.video_button
						.video= image_tag "video.png"
						.video_text City Vid
			
		.right_col
			%table
				- @forecast.each_day do |day_name,values|
					%tr
						%td.day_name
							= day_name.upcase[0..2]
						-# %td
							-# = image_tag( "#{values["icon"]}.jpg" )
						%td.icon
							= icon_to_image values["icon"]
						%td.high.temp
							= "#{values["high"]}&deg;".html_safe
						%td.low.temp
							= "#{values["low"]}&deg;".html_safe
.span-24.feed_show_nav
	.top_level
		.people.active People
		.businesses Businesses
	.categories
		.link.active.post_type{ data: {type: "all"} }
			.label All
			.image= image_tag "icon-all.png"
		.link.post_type{ data: {type: "text"} }
			.label Text
			.image= image_tag "icon-text.png"
		.link.post_type{ data: {type: "photos"} }
			.label Photos
			.image= image_tag "icon-photo.png"
		.link.post_type{ data: {type: "audio"} }
			.label Audio
			.image= image_tag "icon-audio.png"
		.link.post_type{ data: {type: "links"} }
			.label Links
			.image= image_tag "icon-link.png"
		.link.post_type{ data: {type: "video"} }
			.label Videos
			.image= image_tag "icon-movie.png"
		= select_tag( :post_categories_select, options_for_select( ['All Categories'] + ovsm_optionify( @post_categories ) ) )

.span-24
	.ovsm_feed_engine(data-bind="template: { name: 'postTemplate', foreach: posts, as: 'post' }")

%time_data{ data: { time: @feed.current_time_stamp * 1000 }}
%post_handle{ data: { handle: @feed.name } }
= render "templates/posts.html.erb"
