.header
	.header_container
		.logo
		.nav
			%ul
				%li{ class: "link" }
					= active_link_to "#" do
						= image_tag "home.png", class: :home
				%li= active_link_to "My Profile", "#"
				%li= active_link_to "Zones", feeds_path
				%li= active_link_to "Travel", "#"
				%li= active_link_to "Connect", "#"
				%li= active_link_to "Account", "#"
		.nav_right
