.header
	.header_container
		.logo
		.nav
			%ul
				%li{ class: "link" }
					= active_link_to "#" do
						= image_tag "home.png", class: :home
				%li= active_link_to "Profile", "#"
				%li= active_link_to "Zones", feeds_path
				%li= active_link_to "Connect", "#"
				%li= link_to "Account", sessions_destroy_path
				%li
					=link_to_modal new_post_path do
						= image_tag "create_post.png", class: :new_post
		.nav_right
