.jumbotron
	%h1 Target Your Audience
	%p.lead Weather your just getting started, looking for more customers or just want to expand your brand we can help.
	= link_to "Get Started Today", "#", class: "btn btn-large btn-success"

	%hr

	.row-fluid
		.span4.subscription
			.banner
				%h2= "Basic #{draw_on_off_stars( 1 )}".html_safe
			.banner_right
			.banner_left
			%p.description The ideal package to get started on the web.
			.price
				%h2 Free
		.span4.subscription
			.banner
				%h2= "Premium #{draw_on_off_stars( 2 )}".html_safe
			.banner_right
			.banner_left
			%p.description To get even more sections to showcase your products and services.
			.price
				%h2 $29
				.duration /Month
		.span4.subscription
			.banner
				%h2= "Corporate #{draw_on_off_stars( 3 )}".html_safe
			.banner_right
			.banner_left
			%p.description Our most complete package offers the most flexibility.
			.price
				%h2 $59
				.duration /Month
