.tabular_form
	.nav
		#text.link.active
			.label Text
			.image= image_tag "icon-text.png"
		#photos.link
			.label Photos
			.image= image_tag "icon-photo.png"
		#audio.link
			.label Audio
			.image= image_tag "icon-audio.png"
		#videos.link
			.label Videos
			.image= image_tag "icon-movie.png"
	#text_tab.tab.active
		= render "form"
	#photos_tab.tab
		= render "square_photos/form"
	#audio_tab.tab
		= render "audio_files/form"
	#videos_tab.tab
		= render "video_files/form"
	.submit_post
		.text Submit Post
	.processing Server Is Processing Uploads
