.post-show-container
	- unless @post.promotional
		.left
			- if @post.has_video?
				.link
					.icon= image_tag "icon-movie.png" 
					.title{ class: active_show_link?("video",@post) ? "active" : "", data: {"media-type" => "video"}} Watch
			- if @post.has_photos?
				.link
					.icon= image_tag "icon-photo.png" 
					.title{ class: active_show_link?("photo",@post) ? "active" : "", data: {"media-type" => "photo"}} Look
			- if @post.has_audio?
				.link
					.icon= image_tag "icon-audio.png" 
					.title{ class: active_show_link?("audio",@post) ? "active" : "", data: {"media-type" =>"audio"}} Listen
			- if @post.has_links?
				.link
					.icon= image_tag "icon-link.png" 
					.title{ class: active_show_link?("link",@post) ? "active" : "", data: {"media-type" => "link"}} Explore
		.right
			- if @post.has_video?
				.media{ class: active_media_panel?("video",@post) ? "active" : "", data: {"media-type" => "video"}}
					#jp_playlist_post_show
						.fp-playlist
					- @post.video_album.video_files.each do |video_file|
						%video_file{ data: {ogg: video_file.aws_urls["ogg"], mp4: video_file.aws_urls["h264"], webm: video_file.aws_urls["webm"]}}
			- if @post.has_photos?
				.media{ class: active_media_panel?("photo",@post) ? "active" : "", data: {"media-type" => "photo"}}
					.image_galery
						.selection
							- @post.photo_album.square_photos.each_with_index do |photo, index|
								= image_tag( photo.photo.url(:thumb), class: (index == 0 ? "selected" : ""), data: {"caption" => photo.caption} )
						- @post.photo_album.square_photos.each_with_index do |photo, index|
							= link_to(image_tag( photo.photo.url, class: (index == 0 ? "active" : ""), data: {"caption" => photo.caption} ), photo.photo.url, target: "_blank")
						.caption= @post.photo_album.square_photos.first.caption
			- if @post.has_audio?
				.media{ class: active_media_panel?("audio",@post) ? "active" : "", data: {"media-type" => "audio"}}
					.jp-jplayer#jquery_jplayer_post_show
					.jp-audio.thumb#jp_container_post_show
						.jp-type-playlist
							.jp-gui.jp-interface
								%ul.jp-controls
									%li <a href="javascript:;" class="jp-previous" tabindex="1">previous</a>
									%li <a href="javascript:;" class="jp-play" tabindex="1">play</a>
									%li <a href="javascript:;" class="jp-pause" tabindex="1">pause</a>
									%li <a href="javascript:;" class="jp-next" tabindex="1">next</a>
									%li <a href="javascript:;" class="jp-stop" tabindex="1">stop</a>
									%li <a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a>
									%li <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a>
									%li <a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a>
								.jp-progress
									.jp-seek-bar
									.jp-play-bar
								.jp-volume-bar
									.jp-volume-bar-value
								.jp-time-holder
									.jp-current-time
									.jp-duration
							.jp-playlist
								%ul
									%li
							.jp-no-solution <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					- @post.audio_album.audio_files.each do |audio_file|
						%audio_file{data: {'name' => audio_file.name, 'mp3_url' => audio_file.aws_urls["mp3"], 'ogg_url' => audio_file.aws_urls["oga"]}}
			- unless @post.content.nil? or @post.content.empty?
				.text= @post.content
			- if @post.has_links?
				.media{ class: active_media_panel?("link",@post) ? "active" : "", data: {"media-type" => "link"}}
					- @post.page_links.each do |page_link|
						.page-link{ id: "page_link_#{page_link.id}" }
							.title= page_link.title
							.image= image_tag page_link.image_url
							.description= page_link.description
	- else @post.promotional
		.left
			.link
				.icon= image_tag "icon-photo.png" 
				.title{ class: "active", data: {"media-type" => "info"}} Info
			- if @post.promo_address
				.link
					.icon= image_tag "icon-movie.png" 
					.title{ data: {"media-type" => "location"}} Location
		.right
			.media{ class: "active", data: {"media-type" => "info"}}
				- if @post.promo_image
					= image_tag @post.promo_image.url, class: "promo_image"
				.price
					- case @post.promo_type
					- when "deal"
						.original_price= "$#{@post.promo_price}"
						.deal_price= "$#{@post.promo_discounted_price}"
					- when "job"
						.job_type= "#{@post.promo_labor_characteristic} Job"
						.job_wage= "$#{@post.promo_wage} per #{((@post.promo_wage_time == "Hourly") ? "Hour" : "Year")}"
					- when "Event"
						- if @post.promo_free
							.event_cost Free Event
						- else
							.event_cost= "Event costs: $#{@post.promo_price}"
						.event_time
							.event_start= @post.promo_start_date
							.event_end= @post.promo_end_date
					- when "product"
						.product_price= "$#{@post.promo_price}"
						.product_shipping= "$#{@post.promo_shipping_cost}"
				.description
					= @post.promo_description
			.media{data: {"media-type" => "location"}}
				%iframe(width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=#{@post.promo_address}&output=embed")
