!!! 5
%html
	%head
		%title OverSeaMe
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= javascript_include_tag "//cdn.pandastream.com/u/2.0/panda-uploader.min.js"
		= csrf_meta_tags
	%body
		= render "shared/header"
		.container{ class: params[:controller], id: "#{params[:controller]}_#{params[:action]}" }
			= yield
